
$color-1: #FFFAF8;
$color-2:  #956852;  /*$color-2 = background footer, textos grales*/
$color-3:  #D6BF9E;  /*$color-2 = typo footer*/
$color-4: #C7B6BA;
$color-5:#A45037;
$color-6: #D58C52;
$color-7: #175754;
$font-1: 'Montserrat', sans-serif;