//.modal-1-Reservas

.modal-1-Reservas {
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; 
    overflow-y: auto; 
}// SI BIEN NO LO ESTOY USANDO AHORA MISMO, MI INTENCIÓN ES BORRAR TOASTIFY
//Y ADEMÁS EL MODAL-2 ES UN EXTEND DE ESTE. POR ESO NO LO COMENTÉ

.modal-2-Busqueda {
    @extend .modal-1-Reservas;
    top: 0; 
    left: 0; 
    transform: none;   
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus  {
        color: black;
        text-decoration: none;
        cursor: pointer;    
    }
}

//NO FUNCIONAAA. NO PUDE CAMBIAR EL COLOR DEL ÍCONO DE CLOSE DE TOASTIFY :(
.toastify-close {
    color: black !important; /* Cambia el color del icono de cerrar */
}