


h1 {
    @include typos ($font-1, 1.7rem, $color-2);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

h2 {
    @extend h1;
}

p {
    @include typos ($font-1, 1.4rem, $color-2);
    text-align: center;
}

.textos {
    margin-left:40px ;
    margin-right:40px ;
    text-align: justify;
}


.texto-grande {
    font-size: 2.7rem;
}

.negrita {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.turquesa {
    color: $color-7;
}

.doce {
    font-size: 1.2rem;;
}

.diez {
    font-size: 1.0rem;;
}

.izq {
    text-align: start   ;
}